
@{
    ViewBag.Title = "NoRepeat";
}

<h2>NoRepeat</h2>

<div ng-app="app">
    <div data-ng-controller="deafultCtrl">
        <table class="table">
            <tr ng-repeat="mountain in mountainList" ng-class="{info: $even, danger: $odd}">
                <td class="col-sm-1">{{ $index }}</td>
                <td class="col-sm-4" ng-show="!showForms" ng-click="showForms=true">{{ mountain.mountain }}</td>
                <td class="col-sm-4" ng-show="!showForms" ng-click="showForms=true">{{ mountain.metres }}</td>
                <td class="col-sm-3" ng-show="showForms">
                    <input ng-model="mountain.metres" />
                    <a href="#" ng-click="saveChanges($index, mountain.mountain, mountain.metres); showForms = false" class="glyphicon glyphicon-ok">Zapisz</a> 
                </td>
                <td class="col-sm-1">
                    <a href="#" ng-click="showForms=true" class="glyphicon glyphicon-pencil"></a>
                </td>
                <td class="col-sm-1">
                    <a href="#" ng-show="!$first" ng-click="up($index)" class="glyphicon glyphicon-arrow-up"></a>
                </td>
                <td class="col-sm-1">
                    <a href="#" ng-show="!$last" ng-click="down($index)" class="glyphicon glyphicon-arrow-down"></a>
                </td>
            </tr>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/AngularJSExample/noRepeat.js"></script>
}