
@{
    ViewBag.Title = "Provider";
    Layout = "~/Views/Shared/_LayoutAngular.cshtml";
}

<h2>Provider</h2>
<div ng-app="app4">
    <div ng-controller="defaultCtrl">
        <pre>
            viewTest = {{ viewTest }}
        </pre>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/AngularJSExample/DIProvider.js"></script>
}