@{
    Layout = null;
}

        <modal title="Logowanie i rejestracja" visible="showModal" data-ng-cloak>
            <h3>Logowanie</h3>
            <form role="form">
                <div class="form-group">
                    <label for="email">Adres email</label>
                    <input type="email" class="form-control" id="email" placeholder="Wprowadź email" data-ng-model="concat.Email" required />
                    <div ng-show="registerr.confirm_password.$error.passwordVerify">
                        Mail już istnieje. Wprowadź ponownie.
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Hasło</label>
                    <input type="password" class="form-control" id="password" placeholder="Hasło" data-ng-model="concat.Password" required />
                </div>
                <pre>form = {{concat | json}}</pre>
                <button type="submit" class="btn btn-success" data-ng-click="login(concat)">Zaloguj</button>
            </form>
            <h3>Rejestracja</h3>
            <form name="registerr">
                <div class="form-group">
                    <label for="email">Adres email</label>
                    <input type="email" class="form-control" id="email" data-ng-model="content.email" placeholder="Wprowadź email" required/>
                </div>
                <div class="form-group">
                    <label for="email">Imię</label>
                    <input type="text" class="form-control" id="firstName" data-ng-model="content.firstName" placeholder="Imię" required />
                </div>
                <div class="form-group">
                    <label for="email">Nazwisko</label>
                    <input type="text" class="form-control" id="lastName" data-ng-model="content.lastName" placeholder="Nazwisko" required />
                </div>              
                <div class="form-group">
                    <label for="password">Hasło</label>
                    <input type="password" class="form-control" name="password" id="password" data-ng-model="content.password" placeholder="Hasło" required />
                </div>
                <div class="form-group">
                    <label for="password">Powtórz hasło</label>
                    <input type="password" class="form-control" name="confirm_password" id="confirm_password" data-ng-model="content.passwordVerify" placeholder="Powtórz hasło" required data-password-verify="content.password" />
                    <div ng-show="registerr.confirm_password.$error.passwordVerify">
                        Hasło nie jest identyczne. Wprowadź ponownie.
                    </div>
                </div>
                <button type="submit" data-ng-click="register(content)" class="btn btn-primary">Zarejestruj</button>
                <pre>form = {{content | json}}</pre>
            </form>
            <button type="button" class="btn btn-danger" ng-click="cancel()">Anuluj</button>
        </modal>
